---
import "../styles/global.css";
---
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ELEGSO</title>
  </head>
  <body class="bg-slate-950 text-slate-100">
    <slot />
  </body>
</html>
